<html>
<head>
<title>Question</title>
<body>
 <form method="post" action="/Question/ask">
  <p>
    <label>Question</label>
    <input type="text" name="question">
  </p>
  <p>
    <label>Option 1:</label>
    <input type="text" name="option1" >
  </p>
  <p>
    <label>Option 2:</label>
    <input type="text" name="option2" >
  </p>
  <p>
    <label>Option 3:</label>
    <input type="text" name="option3" >
  </p>
  <p>
    <label>Option 4:</label>
    <input type="text" name="option4" >
  </p>
  <p>
    <label>Answer :</label>
    <input type="text" name="answer" >
  </p>
<br>
<input type="submit" value="Send Form">
<input type="reset" value="Clear Form">
</form>
</body>
</html>