<html>
<title>
</title>
<body>


<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- Layout formatting -->
<link rel="stylesheet" href="/stylesheets/layout_dashboard.css">
<!-- Theme formatting -->
<link rel="stylesheet" href="/stylesheets/theme_dashboard.css">


  <link rel="stylesheet" href="stylesheets/dashboard.css" />
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">AdaptQ</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Ask Question</a></li>
        <li class="active"><a href="#">Attempt Question <span class="sr-only">(current)</span></a></li>
      </ul>
      <!--<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Sign Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="wrapper">
  <div class="concept-tree">
    <div class="row">
      <div class="col-md-9" id="TreeContainer">

      </div>
      <div class="col-md-3">
  
      </div>
    </div>
    <div id="treeWait"><label class="svellang">Loading</label></div>
  </div>
  
  <div class="right-pane">
  	Right pane
  </div>
</div>
  <div id = "linechart" class="bottom-pane">
  	Bottom pane
  </div>
  
  <script type="text/javascript" src="js/dashboard.js"></script>
</body>
</html>
