.container
  #concept-tree.panel.panel-primary
    .panel-heading
      h3 Concepts
    .panel-body
      h4 Concepts>Content

  #questions.panel.panel-primary
    .panel-heading
      h3 questions
    .panel-body
      h4 questions>Content

  #recommendations.panel.panel-primary
    .panel-heading
      h3 Recommendations
    .panel-body
      h4 Recommendations>Content
