<html>
<title>

</title>
<body>

<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/creco.js"></script>

<link rel="stylesheet" href="/stylesheets/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
  var myVar = <%- JSON.stringify(isTeacher) %>;
</script>

<!-- Layout formatting -->
<link rel="stylesheet" href="/stylesheets/layout_dashboard.css">
<!-- Theme formatting -->
<link rel="stylesheet" href="/stylesheets/theme_dashboard.css">


  <link rel="stylesheet" href="stylesheets/dashboard.css" />
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand active" href="#">AdaptQ<span class="sr-only">(current)</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <%
      if(isTeacher)
      {
      %>
        <li><a href="/question/ask">Ask Question</a></li>
        <%
        }
        %>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Sign Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="wrapper">
  <div class="concept-tree">
    <div class="row">
    <h3 class='rightpane'>
    <table style="width:100%">
    <tr>
	<td>Concept Tree</td>
	<td  align="right"><div id="percentile"></div></td>
	</tr>
	</table
    </h3>
      <div class="col-md-9" id="TreeContainer">

      </div>
      <div class="col-md-3">

      </div>
    </div>
    <div id="treeWait"><label class="svellang">Loading</label></div>
  </div>

  <div class="right-pane top" id="questionsContainer">

  </div>
        <%
      if(!isTeacher)
      {
      %>
          <div class="right-pane bottom">
  <h3 class='rightpane'>Recommendations</h3>
  <div class="accordion" id="recommendations">

  </div> <!-- /.accordion -->
  </div>  <br/>
        <%
      }else{
        %>
        <div class="right-pane bottom">
  <h3 class='rightpane'>Recommended for Class</h3>
  <div class="accordion" id="recommendations">

  </div> <!-- /.accordion -->
  </div>  <br/>

        <% } %>
</div>

        <%
      if(!isTeacher)
      {
      %>
  <div class="bottom-pane">
  <h3 class='rightpane'>Historical Mean Score</h3>
  <div id = "linechart"></div>
  </div>
     <% } %>

    <footer class="footer">
      <div class="container vcenter">
        AdaptQ is one of the CS educational technologies created by <a href="https://sites.google.com/a/asu.edu/csi/" target="_blank">CSI Lab</a> of <a href="http://cidse.engineering.asu.edu/" target="_blank">School of Computing, Informatics & Decision Systems Engineering</a> at <a href="http://www.asu.edu/" target="_blank">Arizona State University</a>.
      </div>
  </footer>

  <script type="text/javascript" src="js/dashboard.js"></script>
</body>
</html>
