block variables
  - var ngapp = 'mainApp'
  
doctype html
html(ng-app=ngapp)
  head
    meta(charset="UTF-8")
    base(href='/')
    block title
      title AdaptQ

    block stylesheets
      link(rel="stylesheet prefetch", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
      link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
      link(rel="stylesheet", href="/stylesheets/theme-wip.css")

    block AngularJS
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js")
      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js")
      script(src="/js/main.js")
      script(src="/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-1.3.3.min.js")
      script(src="/js/ng-tags-input.min.js")
      script(src="https://code.jquery.com/jquery-1.12.4.min.js", integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=", crossorigin="anonymous")
      script(src="/js/bootstrap.min.js")
      script(src="/js/md5.js")
      script.
        //Receive User from res.render
        var user_client = !{ JSON.stringify(user_server) }

  body
    block startscripts

    block navbar
      nav.navbar.navbar-default.navbar-static-top(ng-controller="navController")
        .container-fluid
          //- Brand and Toggle for mobile displays
          navbar-header
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse", aria-expanded="false")
              span(class="sr-only") Toggle Navigation
              - for (var i = 0; i < 3; i++)
                span(class="icon-bar")
            a(class="navbar-brand", href="dashboard")
              img(src="favicon.ico" alt="AdaptQ")

          //- NavBar Buttons
          .collapse.navbar-collapse(id="navbar-collapse")
            ul.nav.navbar-nav
              li: a(href="{{ questionRoute() }}") Questions
              - if(true)
                li: a(href="askquestion") Ask Question
                li: a(href="coursedata") Course Data
            ul.nav.navbar-nav.navbar-right
              li: p.navbar-text Signed In as {{ user.name }} 
              li.dropdown
                a(data-toggle="dropdown", class="dropdown-toggle", href='#') Courses
                  span.caret
                ul.dropdown-menu
                  li(ng-repeat="course in courses")
                    a(ng-href="/", ng-click="changeCourse(course.name)") {{ course.name }}
              li: a(href="myaccount") My Account
              li: button(type="button", class="btn btn-default navbar-btn", ng-click="logout();") Logout

    block content
      main(ng-view)
        
    block footer  
      .container.footer
        span AdaptQ is one of the CS educational technologies created by <a href="https://sites.google.com/a/asu.edu/csi/" target="_blank">CSI Lab</a> of <a href="http://cidse.engineering.asu.edu/" target="_blank">School of Computing, Informatics & Decision Systems Engineering</a> at <a href="http://www.asu.edu/" target="_blank">Arizona State University</a>.
