extends ./layout.pug

block variables
  - var ngapp = 'loginApp'

block title
  title AdaptQ

append stylesheets
  link(rel="stylesheet", href="/stylesheets/loginstyle-done.css")

block AngularJS
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js")
  script(src="js/loginApp.js")

block startscripts
  script(src="js/md5.js")

block navbar
  .container.pen-title
    h1 AdaptQ: Quiz of the Day

block content
  .container.login-form(ng-controller="loginController", ng-show="form == 1")
    h2 Welcome
    form(ng-submit="login()")
      .form-group
        input(type="email", class="form-control", ng-model="model.email", placeholder="Email", required)
      .form-group
        input(type="password", class="form-control", ng-model="model.password", placeholder="Password", required)
      .form-group
        input(type="checkbox", ng-model="remember")
        span Remember Me
      p(class="errormsg") {{ error_msg }}
      button(type="submit", class="btn btn-primary btn-block") Login
      br
      button(type="reset", class="btn btn-link btn-xs", ng-click="toRegister()") Create Account
      button(type="reset", class="btn btn-link btn-xs", style="float:right;", ng-click="toRecovery()") Forgot Password?

  .container.register-form(ng-controller="registerController", ng-show="form == 2")
    h2 Create Account
    form(ng-submit="register()")
      .form-group
        label Name:
        input(type="text", class="form-control", ng-model="model.name", placeholder="Full Name", required)
      .form-group
        label Email:
        input(type="email", class="form-control", ng-model="model.email", placeholder="Email", required)
      .form-group
        label New Password:
        input(type="password", class="form-control", ng-model="model.password", placeholder="New Password", required)
      .form-group
        label Confirm Password:
        input(type="password", class="form-control", ng-model="passwordConfirm", placeholder="Confirm Password", required)
      p(class="errormsg") {{ error_msg }}
      button(type="submit", class="btn btn-primary btn-block") Create Account
      br
      button(type="reset", class="btn btn-link btn-xs centered", ng-click="toLogin()") Already Have an Account?

  .container.recovery-form(ng-controller="recoveryController", ng-show="form == 3")
    h2 Account Recovery
    form(ng-submit="recovery()")
      input(type="email", class="form-control", ng-model="model.recoveryEmail", placeholder="Account Email", required)
      p Account recovery link will be sent to this email.
      p(class="errormsg") {{ error_msg }}
      button(type="submit", class="btn btn-primary btn-block") Recover Password
      p(class="centered") {{ recovery_msg }}
      br
      button(type="reset", class="btn btn-link btn-xs centered", ng-click="toLogin()") Go Back to Login
