extends ./layout.pug

block variables
  - var ngapp = 'loginApp'

block title
  title AdaptQ

append stylesheets
  link(rel="stylesheet", href="/stylesheets/loginstyle-done.css")

block AngularJS
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js")
  script(src="js/loginApp.js")

block startscripts
  script(src="js/md5.js")

block navbar
  .container.pen-title
    h1 AdaptQ: Quiz of the Day

block content
  .container.login-form(ng-controller="loginController", ng-show="form == 1")
    button.help-button.right(type="button", class="btn btn-link btn-xs", ng-click="toLoginHelp()")
      span(class="fa fa-question-circle")
    h2 Welcome
    form(ng-submit="login()")
      .form-group
        input(type="email", class="form-control", ng-model="model.email", placeholder="Email", required)
      .form-group
        input(type="password", class="form-control", ng-model="model.password", placeholder="Password", required)
      .form-group
        input(type="checkbox", ng-model="remember")
        span Remember Me
      p(class="errormsg") {{ error_msg }}
      button(type="submit", class="btn btn-primary btn-block") Login
      br
      button(type="reset", class="btn btn-link btn-xs", ng-click="toRegister()") Create Account
      button.right(type="reset", class="btn btn-link btn-xs", ng-click="toRecovery()") Forgot Password?

  .container.register-form(ng-controller="registerController", ng-show="form == 2")
    h2 Create Account
    form(ng-submit="register()")
      .form-group
        label Name:
        input(type="text", class="form-control", ng-model="model.name", placeholder="Full Name", required)
      .form-group
        label Email:
        input(type="email", class="form-control", ng-model="model.email", placeholder="Email", required)
      .form-group
        label New Password:
        input(type="password", class="form-control", ng-model="model.password", placeholder="New Password", required)
      .form-group
        label Confirm Password:
        input(type="password", class="form-control", ng-model="passwordConfirm", placeholder="Confirm Password", required)
      p(class="errormsg") {{ error_msg }}
      button(type="submit", class="btn btn-primary btn-block") Create Account
      br
      button(type="reset", class="btn btn-link btn-xs centered", ng-click="toLogin()") Already Have an Account?

  .container.recovery-form(ng-controller="recoveryController", ng-show="form == 3")
    h2 Account Recovery
    form(ng-submit="recovery()")
      input(type="email", class="form-control", ng-model="model.recoveryEmail", placeholder="Account Email", required)
      p Account recovery link will be sent to this email.
      p(class="errormsg") {{ error_msg }}
      button(type="submit", class="btn btn-primary btn-block") Recover Password
      p(class="centered") {{ recovery_msg }}
      br
      button(type="reset", class="btn btn-link btn-xs centered", ng-click="toLogin()") Go Back to Login

  .container.login-help(ng-controller="helpController", ng-show="form == 4")
    button.help-button(type="button", class="btn btn-link btn-sm", ng-click="toLogin()")
      span(class="fa fa-arrow-left")
    .help-content
      h2 Help
      h3 Creating an Account
      p.
        This is the help page.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean maximus ut tortor a blandit. Fusce eu porta enim, eget imperdiet diam. Proin pulvinar nisl scelerisque dolor tempor mollis. Nulla sodales ipsum sit amet finibus commodo. Vestibulum turpis est, lobortis ac malesuada nec, pellentesque consectetur tellus. Vestibulum porttitor pulvinar nulla tempor feugiat. Morbi nec metus velit. Vivamus lobortis urna nec diam lacinia cursus. Nullam tincidunt nisi metus, hendrerit euismod velit porta varius. Aenean tempus cursus orci, quis efficitur eros suscipit eu. Curabitur ullamcorper mi orci, in condimentum risus consectetur porttitor. Donec ornare, sapien sed tempus efficitur, purus magna sagittis erat, non gravida diam ex facilisis ipsum. Integer lacinia vulputate ex, at aliquam arcu commodo sit amet.

        Integer ex nisl, malesuada sit amet justo non, volutpat pretium ex. Donec interdum sapien vitae risus varius lobortis. Sed elementum nulla in magna tempor suscipit. Cras nulla lorem, imperdiet tincidunt dui non, tempus tincidunt tellus. Fusce volutpat eget velit in gravida. Vivamus risus sem, suscipit nec congue viverra, pellentesque sit amet est. Pellentesque in tellus commodo, egestas dui vel, imperdiet justo. Phasellus commodo, ante eu commodo tincidunt, dui nulla porta tortor, vitae egestas mauris arcu nec augue. Vestibulum interdum, ipsum non consequat pulvinar, nisl magna bibendum dui, at fringilla ante augue vel urna. Ut porta, diam vitae dapibus porta, mauris ex lobortis arcu, eget maximus velit lectus eget erat. Pellentesque sed elit ac quam sodales vulputate. Quisque nec nisi lacus. Donec non interdum eros. Sed nec dui eu libero varius lacinia. Vivamus dignissim sollicitudin suscipit.

        Mauris id vestibulum risus, et aliquam urna. Aenean at sodales quam. Morbi cursus hendrerit efficitur. Nulla commodo sapien et lectus sagittis, nec facilisis ipsum maximus. Morbi ullamcorper ex ac ex faucibus ultrices. Duis nisi felis, hendrerit sed euismod vitae, pharetra at felis. Duis tristique velit eu lectus vestibulum, sed porta mi aliquam. Suspendisse vitae velit ultricies, laoreet dolor ut, dignissim est. Curabitur ut elit sollicitudin, dignissim arcu sed, egestas sapien. Donec in metus at justo viverra tempor.

        Duis aliquam nunc in neque tempus congue. Ut sit amet sem id tortor egestas ultricies id auctor lacus. Proin imperdiet ipsum a sodales sagittis. Fusce libero diam, ornare non ultrices sit amet, pretium et arcu. Aliquam rhoncus sem quis elit consectetur, posuere rutrum ante fringilla. Curabitur venenatis, augue sed imperdiet placerat, sem mi porttitor erat, eget aliquam arcu erat bibendum sem. Duis non finibus arcu, viverra molestie quam. Vivamus mattis dignissim erat sed porttitor. Suspendisse euismod eros metus, mattis finibus massa fermentum ac. Proin ultricies lorem ornare risus posuere, at commodo ipsum congue. Vestibulum posuere rutrum massa vel sagittis. Praesent iaculis, justo in eleifend semper, lectus turpis interdum leo, vel ultrices nunc diam eu metus. Nulla facilisi.

        Donec volutpat tellus at ligula tincidunt mattis. Curabitur sollicitudin enim vitae imperdiet vulputate. Proin velit dui, hendrerit id rutrum et, cursus quis enim. Mauris a metus consequat, ornare dui ac, volutpat nibh. Aliquam erat volutpat. Nulla fringilla purus nisl, tempus laoreet urna bibendum eget. Duis vitae faucibus dolor. Suspendisse mollis nisl sit amet eros faucibus tincidunt. Morbi risus nunc, semper eu egestas sed, faucibus non turpis. Aenean sed maximus lectus.
