extends ./login.pug

block variables
  - var ngapp = 'resetApp'
  - var email = userEmail
  - var token = userToken
    //- Jade Code is converted to javascript code so it can be used by AngularJS
  script(type='text/javascript').
    var email = "#{email}";
    var token = "#{token}";

block AngularJS
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js")
  script(src="js/resetApp.js")

block content
  .container.recovery-form(style="margin-top: 70px;", ng-controller="resetController")
    h2 Account Recovery
    form(ng-submit="resetPassword()")
      .form-group
        label Email:
        input(type="email", class="form-control", ng-model="model.email", readonly, required)
      .form-group
        label New Password:
        input(type="password", class="form-control", ng-model="model.password", placeholder="New Password", required)
      .form-group
        label Confirm Password:
        input(type="password", class="form-control", ng-model="passwordConfirm", placeholder="Confirm Password", required)
      p(class="errormsg") {{ error_msg }}
      button(type="submit", class="btn btn-primary btn-block") Recover Password
      p(class="centered") {{ recovery_msg }}
