extends ./login.pug

block variables
  - var ngapp = 'recoveryApp'
  - var email = userEmail;
  - var token = token; //not sure if this is needed

append AngularJS
  script(src="js/recoveryApp.js")

block content
  .container.recovery-form(ng-controller="recoveryController")
    h2 Account Recovery
    span Setting password for
    span(ng-model="model.email")= email
    form(ng-submit="resetPassword()")
      .form-group
        label New Password:
        input(type="password", class="form-control", ng-model="model.password", placeholder="New Password")
      .form-group
        label Confirm Password:
        input(type="password", class="form-control", ng-model="passwordConfirm", placeholder="Confirm Password")
      p(class="errormsg") {{ error_msg }}
      button(type="submit", class="btn btn-primary btn-block") Recover Password
      p(class="centered") {{ recovery_msg }}
      br
      button(type="reset", class="btn btn-link btn-xs centered", ng-click="redirectToLogin();") Go to Login Page
