link(rel="stylesheet", href="/stylesheets/askquestion-wip.css")
link(rel="stylesheet", href="/stylesheets/ng-tags-input.min.css")
link(rel="stylesheet", href="/stylesheets/ng-tags-input.bootstrap.min.css")
#content-container
  .question-box
    h1 Create New Question
    form#newQuestion(ng-submit="submitQuestion()")
      .question
        label Question Text
        textarea(rows="3", placeholder="Enter Question", form="newQuestion", ng-model="model.text", required) 
        .code
          button(type="button", class="btn btn-link btn-sm", ng-click="addCode=true", ng-hide="addCode")
            span.fa.fa-plus-circle
            span &nbspAdd Code
          button(type="button", class="btn btn-link btn-sm", ng-click="addCode=false", ng-show="addCode")
            span.fa.fa-minus-circle
          textarea(rows="6", placeholder="Enter Code", form="newQuestion", ng-model="model.code", ng-show="addCode")
      .options
        label Options
        .option(ng-repeat="i in getOptionsCount(optionsCount) track by $index")
          input(type="checkbox", id="option{{$index}}", name="option", ng-click="toggleSelection($index)")
          label.checkbox(for="option{{$index}}")
            span.fa.fa-check
          input(type="text", ng-model="model.options[$index]", placeholder="Option", required)
          button(type="button", class="btn btn-danger", ng-click="deleteOption($index)", ng-disabled="disabled")
            span.glyphicon.glyphicon-remove-circle
        button(type="button", class="btn btn-success", ng-click="addOption()", ng-disabled="disabled") Add Option
        .hint
          button(type="button", class="btn btn-link btn-sm", ng-click="addHint=true", ng-hide="addHint")
            span.fa.fa-plus-circle
            span &nbspAdd Hint
          button(type="button", class="btn btn-link btn-sm", ng-click="addHint=false", ng-show="addHint")
            span.fa.fa-minus-circle
            span &nbspHint: 
          input(type="text", placeholder="Enter Hint", ng-model="model.hint", ng-show="addHint")
        .concepts
          label Concepts
          tags-input(ng-model="model.concepts", placeholder="Add one or more concepts..........", add-from-autocomplete-only="true", item-is-object="false")
            auto-complete(source="loadConcepts($query)", min-length="1", max-results-to-show="5")
        .question-footer
          h5 {{ errorMsg }} 
          button(type="submit", class="btn btn-success btn-lg") Submit

        .success(ng-show="success")
          h4 Question Created
          button(type="reset", class="btn btn-success", ng-click="success=false") OK
