link(rel="stylesheet", href="/stylesheets/coursedata-wip.css")
#content-container.container
  .row
    .col-md-12
      .course-box
        .box-header
          h1 Course: 
            b {{ course.name }}
          button(type="button", class="btn btn-default", ng-click="open=true") Add Concept
        .concepts
          ul
            li(ng-repeat="concept in concepts")
              .item
                h5 {{ concept.name }} 
                h6 {{ getQuestionCount(concept) }} Questions
                .data-bar
                  .attemptedCorrect(ng-style="{'width': getConceptGreen()}")
                    .bar
                    p {{ formatRoundPercentages(getConceptBar(concept))[0] }}
                  .attemptedIncorrect(ng-style="{'width': getConceptRed()}")
                    .bar
                    p {{ formatRoundPercentages(getConceptBar(concept))[0] }}
                  .unattempted(ng-style="{'width': getConceptYellow()}")
                    .bar
                    p {{ formatRoundPercentages(getConceptBar(concept))[0] }}
  .row
    .col-md-6
      .student-list-box
        .box-header
          h2 Students
          h3 {{ students.length }} Enrolled
        .students
          form
            ul
              li(ng-repeat="student in students")
                .item
                  input(type="radio", id="student{{$index}}", name="students", ng-value="{{ student }}", ng-model="$parent.student")
                  label.radio(for="student{{$index}}")
                    h5 {{ student.name }}
                    h6 More Info
                    .data-bar
                      .attemptedCorrect(ng-style="{'width': getStudentGreen()}")
                        .bar
                        p {{ formatRoundPercentages(getStudentBar(student))[0] }}
                      .attemptedIncorrect(ng-style="{'width': getStudentRed()}")
                        .bar
                        p {{ formatRoundPercentages(getStudentBar(student))[1] }}
                      .unattempted(ng-style="{'width': getStudentYellow()}")
                        .bar
                        p {{ formatRoundPercentages(getStudentBar(student))[2] }}
    .col-md-6
      .student-data-box
        .box-header
          h2 {{ student.name }}
        .concepts
          ul(ng-hide="student.name == 'No Student Chosen'")
            li(ng-repeat="concept in concepts")
              .item
                h5 {{ concept.name }} 
                h6 {{ getQuestionCount(concept) }}
                .data-bar
                  .attemptedCorrect(style="width:45%;")
                    .bar
                    p {{ formatRoundPercentages(getStudentConceptBar(student, concept))[0] }}
                  .attemptedIncorrect(style="width:30%;")
                    .bar
                    p {{ formatRoundPercentages(getStudentConceptBar(student, concept))[1] }}
                  .unattempted(style="width:25%;")
                    .bar
                    p {{ formatRoundPercentages(getStudentConceptBar(student, concept))[2] }}

#addConcept(ng-show="open")
  .modal-header
    h3 Add Concept
  .modal-body
    form(ng-hide="conceptReady", ng-submit="conceptReady=true")
      input(type="text", class="form-control", ng-model="newConcept.name", placeholder="New Concept", maxlength="28", required)
      button(type="submit", class="btn btn-success") Create
      button(type="button", class="btn btn-warning", ng-click="open=false") Cancel
    .confirm(ng-show="conceptReady")
      h4 Confirm concept?
      h5 {{ newConcept.name }}
      button(type="submit", class="btn btn-success", ng-click="createConcept()") Yes
      button(type="button", class="btn btn-warning", ng-click="conceptReady=false") No

