link(rel="stylesheet", href="/stylesheets/dashboard-wip.css")
#content-container.container
  .row
    #left-col.col-md-7.hidden-xs
      #concept-tree.panel.panel-primary
        .panel-heading
          h2 Concepts
        .panel-body(ng-show="courseExists")
          ul
            - for(var i = 0; i < 5; i ++)
              li
                .item
                  h5 variables
                  h6 10 Questions
                  .data-bar
                    .attemptedCorrect(ng-style="{'width': getConceptGreen()}")
                      .bar
                      p {{ getConceptGreen() }}
                    .attemptedIncorrect(ng-style="{'width': getConceptRed()}")
                      .bar
                      p {{ getConceptYellow() }}
                    .unattempted(ng-style="{'width': getConceptYellow()}")
                      .bar
                      p {{ getConceptRed() }}
        .panel-body(ng-hide="courseExists")
          h4 Course currently has no concepts.
          h4 To enroll, go to My Account

      #graph.panel.panel-primary(ng-show="false")
        .panel-heading
          h3 Graph
        .panel-body
          h4 Content
          h4 Content
          h4 Content
          h4 Content
          h4 Content
          h4 Content

    #right-col.col-md-5.col-xs-12
      #questions.panel.panel-primary
        .panel-heading
          h2 Questions
        .panel-body
          #questionCal
            uib-datepicker.well(ng-model="dt", datepicker-options="options")
          #questionInfo
            form(ng-submit="goToQuestion()")
              .form-group
                label Concept(s):
                p {{ question.concepts }}
              button.centered(type="submit", class="btn btn-info btn-lg", ng-disabled="emptyDay()") Go to Question

      #recommendations.panel.panel-primary(ng-show="false")
        .panel-heading
          h3 Recommendations
        .panel-body
          h4 Content
          h4 Content
          h4 Content
          h4 Content
          h4 Content
          h4 Content
          h4 Content
          h4 Content
