link(rel="stylesheet", href="stylesheets/manual.css")
.help-box
  h1 AdaptQ Help
  h2 Enrolling in a Course
  p.
    To go "MyAccount" and click "Join a Course".
  img(src="/helpscreenshots/adaptq_enrolling1.png")
  p.
    After you enroll, you will find the course in the 'Course' tab, which will take you to that course's dashboard. You can un-enroll by the cross button in MyAccounts.
  img(src="/helpscreenshots/adaptq_enrolling2.png")
  p.
    NOTE: Intructors have to enroll in the course they instruct. In order to create a course and register instrutors, please email <a href="mailto:sharon.hsiao@asu.edu">Sharon.Hsiao@asu.edu</a>
  h2 Instructor Dashboard
  p.
    Once you are enrolled and registered as an instructor in an course, the instructor dashboard will show start showing your class's performance in different concepts. You can also see the performance ratings for each student. Select a student to see their invididual performance in each of the course's concepts.
  img(src="/helpscreenshots/adaptq_instdashboard2.png")
  p.
    To add concepts to your course, click on "Add Concept".
  img(src="/helpscreenshots/adaptq_instdashboard1.png")
  p.
    NOTE: Once a concept is created, it cannot be edited or deleted. Also, you must have existing concepts to post a question. You cannot create new concepts when posting new questions. It must be done from the instructor dashboard.
  h2 Asking Questions
  p.
    To post a question for your students, go to "Ask Questions". All questions require the question text, at least 2 options, at least 1 designated correct answer, and at least 1 concept tag. The code and hint fields are optional. You can add as many options as you like by clicking "Add Option".
    Go to AskQuestion to post a question for your class.
  img(src="/helpscreenshots/adaptq_askquestion.png")
  h2 Questions
  p.
    The questions view is where you can view existing questions and the explanations of your students. 
  img(src="/helpscreenshots/adaptq_questionview.png")
  p.
    The left sidebar lists all the questions for your selected course.
  p.
    The question content and explanations are displayed in the center. Students can post as many explanations as they want and vote on explanations they find helpful.
  p.
    The right sidebar shows student notes for the current question. These are anonymous and can be edited.
  h2 Managing your Account
  p.
    To change information in your account, go to "My Account". Here, you can change your display name, email, password, and enroll in more courses.
