link(rel="stylesheet", href="stylesheets/manual.css")
.help-box
  h1 AdaptQ Help
  h2 Enrolling in a Course
  p.
    Go to my account first and stuff.
  h2 Posting Questions
  p.
    Go to AskQuestion to post a question for your class.
  h2 Teacher Dashboard
  p.
    The dashboard is really cool and stuff.
  h2 Questions
  p.
    The questions view is also really cool.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacus est, cursus sit amet tristique eu, varius in ligula. Donec vitae rutrum erat, id tempor orci. Nam sed ex quis lectus mollis euismod. Aliquam at turpis nec dolor pretium ullamcorper. Vestibulum nec dolor lorem. Duis faucibus vel sapien tincidunt ultricies. Phasellus finibus nulla a pharetra facilisis. Phasellus placerat orci sed fermentum placerat. Phasellus in laoreet urna. Ut mollis sed eros a vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque non pretium justo. Nullam pharetra lorem ultrices ligula molestie, nec auctor ante aliquam. Maecenas vehicula eleifend augue id blandit.

    Nulla facilisi. Praesent semper, felis nec eleifend ultrices, nulla eros viverra ex, eget pharetra mauris elit vel risus. Donec egestas nisi id faucibus egestas. Vivamus rutrum, nibh ac rutrum finibus, justo enim pretium arcu, et gravida magna nulla in nunc. Suspendisse vel faucibus nunc, eget tempus mauris. Etiam nunc magna, dictum et ex vitae, vestibulum sagittis velit. Cras eget nulla et diam cursus sagittis ornare vehicula ligula. Vivamus gravida non velit vel sollicitudin. Cras ac eros luctus, volutpat lectus at, rhoncus nulla. Nunc fringilla nunc at ante efficitur cursus. Quisque venenatis sapien velit, semper aliquam odio tincidunt a. Vivamus sed nisl condimentum, condimentum purus in, consequat lorem. Pellentesque quis gravida libero, ac vehicula dolor. Quisque in pellentesque libero, tristique mattis eros. Aenean in finibus erat, sed tristique purus. Sed risus magna, lobortis vel augue non, suscipit egestas sem.

    Maecenas id elementum turpis. Aliquam magna urna, faucibus et fringilla eu, ultrices sed velit. Suspendisse porta ante dolor, eget egestas mauris commodo vitae. Maecenas tristique pellentesque ligula, a dapibus lectus lacinia a. Sed varius et justo sit amet dictum. Nunc tincidunt eget massa at laoreet. Nunc efficitur massa et eros pellentesque, a interdum eros pretium. Nulla pulvinar, tellus vel congue pellentesque, turpis lorem imperdiet diam, laoreet sodales quam justo vitae est. Cras non lorem vel tortor efficitur accumsan. Aliquam fringilla feugiat ipsum, eu pulvinar lacus congue eget. Curabitur rutrum ipsum eu vehicula accumsan.

    Cras tincidunt ligula orci, ac pellentesque nibh placerat eget. Aenean sit amet elit orci. Vivamus pretium lacus vel pharetra vulputate. Integer at consectetur ligula. Nam consequat libero sit amet risus ultrices, sit amet scelerisque neque cursus. Cras fringilla finibus est. Aenean pulvinar nulla id accumsan facilisis. Aliquam auctor sed enim nec euismod. Nulla tincidunt, nulla vitae laoreet congue, lacus lacus finibus purus, commodo placerat mi sem sit amet tortor.

    Nullam viverra augue ante, sed consectetur orci suscipit quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pretium enim augue, id posuere urna hendrerit non. Aliquam ut ante vel massa molestie aliquet. Ut quis est quis augue viverra ullamcorper. Nulla sem risus, ultrices quis vestibulum ut, consequat nec quam. Cras molestie nisi sit amet velit egestas ullamcorper. Duis quis diam nisl. Suspendisse at pretium felis, eu sollicitudin erat. Etiam sit amet varius elit, eget semper felis. Quisque interdum ligula dolor, sed ultrices nisi tempor fringilla. Vestibulum congue risus ac aliquam euismod. Sed porttitor dapibus pharetra. Etiam aliquam orci id dapibus luctus.

