link(rel="stylesheet", href="/stylesheets/question-wip.css")
#content-container

  #questions-sidebar
    #sidebar-content
      #sidebar-header
        h3 Questions
        h6 Sort By:&nbsp
        .btn-group.sortButtons
          button(data-toggle="dropdown", class="btn btn-default btn-xs dropdown-toggle") {{ order }}
          ul.dropdown-menu
            li: a(ng-click="sortByDate()") Date
            li: a(ng-click="sortByStatus()") Status
          button(type="button", class="btn btn-default btn-xs", ng-click="switchReverse();")
            span(ng-class="reverseIcon")
      #question-list
        ul
          li(ng-repeat="question in questions")
            .question-item
              input(type="radio", id="question{{ question._id }}", name="question", value="{{ question._id }}", ng-model="model.questionId", ng-click="logSidebarClick()")
              label.radio(for="question{{ question._id }}")
                h4 {{ getConceptsString(question) }}
                .attemptindicator(ng-switch="checkStatus(question)")
                  .attemptedCorrect(ng-switch-when="attemptedCorrect", title="Attempted Correct")
                  .attemptedIncorrect(ng-switch-when="attemptedIncorrect", title="Attempted Incorrect")
                  .unattempted(ng-switch-when="unattempted", title="Unattempted")
                h6 {{ question.created_at | date}}
      #sidebar-footer

  .question-area(ng-show="!recordExists")
    .question-box
      .question
        h1 {{ question.text }}
        pre {{ question.code }}
      #single.options-unattempted(ng-hide="multipleAnswers || noQuestions")
        form(ng-submit="submitAnswer()")
          ul
            li(ng-repeat="option in question.options track by $index")
              .option
                input(type="radio", id="option{{$index}}", name="option", value="{{$index}}", ng-model="model.optionsSelected[0]")
                label.radio(for="option{{$index}}") {{option}}
          p(ng-show="showHint") Hint: {{ question.hint }}
          button(type="submit", class="btn btn-success btn-lg", ng-disabled='model.optionsSelected.length === 0') Confirm
          button(type="button", class="btn btn-link btn-sm", ng-click="enableHint()", ng-hide="noHint || showHint") Need a hint?
      #multi.options-unattempted(ng-show="multipleAnswers && !noQuestions")
        form(ng-submit="submitAnswer()")
          p This question requires more than one correct answer.
          ul
            li(ng-repeat="option in question.options track by $index")
              .option
                input(type="checkbox", id="options{{$index}}", name="option", ng-click="toggleSelection($index)")
                label.checkbox(for="options{{$index}}") {{option}}
            p(ng-show="showHint") Hint: {{ question.hint }}
          button(type="submit", class="btn btn-success btn-lg", ng-disabled='model.optionsSelected.length === 0') Confirm
          button(type="button", class="btn btn-link btn-sm", ng-click="enableHint()", ng-hide="noHint || showHint") Need a hint?

  .question-area(ng-show="recordExists")
      .question-box
        button#editbutton(type="button", class="btn btn-warning", ng-click="editQuestion(question)", ng-hide="isPublished(question)") Edit
        .question
          h1 {{ question.text }}
          pre {{ question.code }}
        .options
          ul
            li(ng-repeat="option in question.options track by $index")
              .option(ng-class="{correct: question.answers.indexOf($index) != -1, chosen: getOptionsSelected().indexOf($index) != -1}")
                input(type="radio", id="option{{$index}}", name="option", value="{{$index}}", ng-model="model.optionsSelected[0]")
                label.radio(for="option{{$index}}") {{option}}
          .new-explanation(ng-hide="hasOwnExplanation()")
            form#newExplanation(ng-submit="postExplanation()")
              label Post Explanation
              textarea(rows="4", placeholder="Enter Explanation", form="newExplanation", ng-model="expModel.text", required)
              button(type="submit", class="btn btn-default", ng-disabled='expModel.text == ""') Post
              p Write an explanation to express your thought process and help others to understand.
          
        .explanations(ng-show="true")
          .btn-group.sortButtons
            button(data-toggle="dropdown", class="btn btn-link btn-xs dropdown-toggle") order by {{ expOrder }}
            ul.dropdown-menu
              li: a(ng-click="expSortVotes()") votes
              li: a(ng-click="expSortDate()") recent
          ul
            li(ng-repeat="explanation in explanations")
              .explanation
                h5 Votes: {{ explanation.votes.length }}
                button(type="button", class="btn btn-default btn-sm", ng-click="upvote(explanation)", ng-hide="explanation.userId == user._id || explanation.votes.indexOf(user._id) != -1")
                  span.fa.fa-thumbs-o-up
                button(type="button", class="btn btn-default btn-sm", ng-click="unvote(explanation)", ng-show="explanation.userId != user._id && explanation.votes.indexOf(user._id) != -1")
                  span.fa.fa-thumbs-up
                h4 {{ explanation.userName }}
                h6 {{ explanation.created_at | date : 'hh:mma MMM dd' }}
                p(ng-bind-html="explanation.text").
                   {{ explanation.text }}
  
  #tools-sidebar
    #sidebar-content
      #recommendations-content
        #tools-header
          h3 Recommended Study
        #recommendations-list
          .recommendation-item(ng-repeat="recommendation in recommendations")
              a(href="{{ recommendation.url }}", target="_blank", ng-click="logRecoClick(recommendation)") {{ recommendation.heading }}
              p {{ recommendation.text }}
              pre(ng-hide="1") {{ recommendation.code }}
        #tools-footer
      #notes-content
        #tools-header
          h3 Notes 
        #notes-list
          #add-note(ng-hide="hasOwnNote")
            form#newNote(ng-submit="postNote()")
              label Create Note
              textarea(rows="4", placeholder="New Note", form="newNote", ng-model="noteModel.text", required)
              button(type="submit", class="btn btn-info btn-sm", ng-disabled='noteModel.text == ""') Post
              p Notes are anonymous and can be viewed by your peers. You must post your own note to see notes from others.
          ul(ng-show="hasOwnNote")
            li.note-item.own-note(ng-hide="editingNote")
              p {{ ownNote.text }}
              button(type="button", class="btn btn-default btn-sm", ng-click="startEdit()") Edit
            li.note-item.editing(ng-show="editingNote")
              form#editNotes(ng-submit="postNote()")
                label Edit Note
                textarea(rows="4", form="newNote", ng-model="noteModel.text", required)
                button(type="submit", class="btn btn-info btn-sm", ng-disabled='noteModel.text == ""') Post
                button(type="button", class="btn btn-default btn-sm", ng-click="editingNote = false") Cancel
            li.note-item(ng-repeat="note in filteredNotes")
              p {{ note.text }}
        #tools-footer
