link(rel="stylesheet", href="/stylesheets/questionsunavailable.css")
#content-container
  .content-box
    h1 No Questions Available
    h4 Course currently has no Questions
    h4 To enroll, go to My Account
