link(rel="stylesheet", href="/stylesheets/question-wip.css")
#content-container

  #sidebar
    #sidebar-content
      #sidebar-header
        h3 Questions
        h6 Sort By:&nbsp
        .btn-group.sortButtons
          button(data-toggle="dropdown", class="btn btn-default btn-xs dropdown-toggle") {{ order }}
          ul.dropdown-menu
            li: a(href='#', ng-click="sortByDate()") Date
            li: a(href='#', ng-click="sortByStatus()") Status
          button(type="button", class="btn btn-default btn-xs", ng-click="switchReverse();")
            span(ng-class="reverseIcon")
      #question-list
        ul
          li(ng-repeat="question in questions")
            .question-item
              input(type="radio", id="question{{ question._id }}", name="question", value="{{ question._id }}", ng-model="model.questionId")
              label.radio(for="question{{ question._id }}")
                h4 {{ question.text }}
                .attemptindicator(ng-switch="checkStatus(question)")
                  .attemptedCorrect(ng-switch-when="attemptedCorrect", title="Attempted Correct")
                  .attemptedIncorrect(ng-switch-when="attemptedIncorrect", title="Attempted Incorrect")
                  .unattempted(ng-switch-when="unattempted", title="Unattempted")
                h6 {{ question.created_at | date}}
      #sidebar-footer

  .question-area(ng-show="!recordExists")
    .question-box
      .question
        h1 {{ question.text }}
        pre {{ question.code }}
      .options-unattempted(ng-hide="multipleAnswers")
        form(ng-submit="submitAnswer()")
          ul
            li(ng-repeat="option in question.options")
              .option
                input(type="radio", id="option{{$index}}", name="option", value="{{$index}}", ng-model="model.optionsSelected[0]")
                label.radio(for="option{{$index}}") {{option}}
          p(ng-show="showHint") Hint: {{ question.hint }}
          button(type="submit", class="btn btn-success btn-lg", ng-disabled='model.option == ""') Confirm
          button(type="button", class="btn btn-link btn-sm", ng-click="enableHint()", ng-hide="showHint") Need a hint?
      .options-unattempted(ng-show="multipleAnswers")
        form(ng-submit="submitAnswer()")
          p This question requires more than one correct answer.
          ul
            li(ng-repeat="option in question.options")
              .option
                input(type="checkbox", id="options{{$index}}", name="option", ng-click="toggleSelection($index)")
                label.checkbox(for="options{{$index}}") {{option}}
            p(ng-show="showHint") Hint: {{ question.hint }}
          button(type="submit", class="btn btn-success btn-lg", ng-disabled='model.option == ""') Confirm
          button(type="button", class="btn btn-link btn-sm", ng-click="enableHint()", ng-hide="showHint") Need a hint?

  .question-area(ng-show="recordExists")
      .question-box
        .question
          h1 {{ question.text }}
          pre {{ question.code }}
        .options
          ul
            li(ng-repeat="option in question.options")
              .option(ng-class="{correct: correctChoices.indexOf($index) != -1, chosen: userChoices.indexOf($index) != -1}")
                input(type="radio", id="option{{$index}}", name="option", value="{{$index}}", ng-model="model.optionsSelected[0]")
                label.radio(for="option{{$index}}") {{option}}
          button(type="button", class="btn btn-info", ng-click="showExplanations = true", ng-hide="showExplanations") View Explanations
          button(type="button", class="btn btn-info", ng-click="showExplanations = false", ng-show="showExplanations") Hide Explanations
        .explanations(ng-show="showExplanations")
          
          .new-explanation(ng-show="addExplanation")
            form#newExplanation
              textarea(rows="4", placeholder="Enter Explanation", form="newExplanation")
              button(type="submit", class="btn btn-default", ng-disabled='newExplanation.text == ""') Submit
          .explanation-buttons
            button(type="button", class="btn btn-default", ng-click="addExplanation = true", ng-hide="addExplanation")
              span.fa.fa-plus-circle
              span &nbspAdd Explanation
            button(type="button", class="btn btn-default", ng-click="addExplanation = false", ng-show="addExplanation") Cancel
            button.right(type="button", class="btn btn-default btn-sm", ng-click="expSortDate()", title="most recent")
              span.fa.fa-clock-o
            button.right(type="button", class="btn btn-default btn-sm", ng-click="expSortVotes()", title="most votes")
              span.fa.fa-check
          ul
            li(ng-repeat="explanation in explanations")
              .explanation
                h5 Votes: {{ explanation.votes }}
                button(type="button", class="btn btn-default btn-sm", ng-click="voted=true", ng-hide="voted")
                  span.fa.fa-thumbs-o-up
                button(type="button", class="btn btn-default btn-sm", ng-click="voted=false", ng-show="voted")
                  span.fa.fa-thumbs-up
                h4 {{ explanation.user }}
                h6 {{ explanation.dateCreated | date : 'hh:mma MMM dd, yyyy' }}
                p.
                  {{ explanation.text }}
