link(rel="stylesheet", href="/stylesheets/question-wip.css")
#content-container
  #sidebar
    #sidebar-content
      #sidebar-header
        h3 Questions
        br
        h5 Sort By: Date
      #question-list
        ul
          li(ng-repeat="question in questions")
            .question-item
              input(type="radio", id="question{{ question.id }}", name="question", value="{{ question.id }}", ng-model="model.questionid")
              label.radio(for="question{{ question.id }}")
                h4 {{ question.title }}
                h6 {{ question.status }}
                  span {{ question.date | date}}
      #sidebar-footer
        button(type="button", class="btn btn-default btn-xs")
          span(class="glyphicon glyphicon-flag")
  #question-area
    #question-box
      #question
        h1 {{ question.title }}
        pre {{ question.code }}
      #options
        form(ng-submit="submitanswer()")
          ul
            li(ng-repeat="option in question.options")
              .option
                input(type="radio", id="option{{$index}}", name="option", value="{{$index}}", ng-model="model.option")
                label.radio(for="option{{$index}}") {{option}}
          button(type="submit", class="btn btn-success btn-lg", ng-disabled='model.option == ""') Confirm
          button(type="button", class="btn btn-link btn-sm") Need a hint?
