link(rel="stylesheet", href="stylesheets/manual.css")
.help-box
  h1 AdaptQ Help
  h2 Enrolling in a Course
  p.
    Go to my account first and stuff.
  h2 Dashboard
  p.
    The dashboard is really cool and stuff.
  h2 Questions
  p.
    The questions view is also really cool.
