link(rel="stylesheet", href="stylesheets/manual.css")
.help-box
  h1 AdaptQ Help
  h2 Enrolling in a Course
  p.
    To go "MyAccount" and click "Join a Course".
  img(src="/helpscreenshots/adaptq_enrolling1.png")
  p.
    After you enroll, you will find the course in the 'Course' tab, which will take you to that course's dashboard. You can un-enroll by the cross button in MyAccounts.
  img(src="/helpscreenshots/adaptq_enrolling2.png")
  p.
    NOTE: Intructors have to enroll in the course they instruct. In order to create a course and register instrutors, please email <a href="mailto:sharon.hsiao@asu.edu">Sharon.Hsiao@asu.edu</a>
  h2 Dashboard
  p.
    Once you are enrolled in an course, the student dashboard will show start showing your performance in different concepts. If you click on a concept, a panel will show you a list of questions that are tagged with that concept. Click on a question to go to that question.
  p.
    The calendar panel presents a color visualization of questions and your performance in the past. To access a question through the calendar, select the question's date and click "Go to Question".
  img(src="/helpscreenshots/adaptq_studentdashboard.png")
  h2 Questions
  p.
    The questions view is where you will answer questions and review note and explanations. 
  img(src="/helpscreenshots/adaptq_questionview.png")
  p.
    The left sidebar lists all the questions for your selected course. The list can be reordered for your preference.
  p.
    The question content and explanations are displayed in the center. Explanations are not anonymous and can be posted as many times as you like. However, you cannot edit an existing explanation.
  p.
    The right sidebar shows your notes for the current question. These are anonymous and can be edited.
  h2 Making the Most of AdaptQ
  p.
    AdaptQ is provides many tools to help you pinpoint weakness and study more efficiently. 
  p.
    The color code for questions throughout the application will help you see which questions you may need to answer or review. 
  p.
    Posting explanations on a question can help you and your peers understand concepts. Be sure to thumbs up the explanations what you find helpful. 
  p.
    Posting anonymous notes can also help you when you are reviewing a question. Use whichever tools are easiest and most helpful to you.
  h2 Managing your Account
  p.
    To change information in your account, go to "My Account". Here, you can change your display name, email, password, and enroll in more courses.

