#content-container {
  width: 100%;
  min-width: 1000px;
  overflow-x: auto;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
}

input, textarea{
  color: #000;
}

/* Question Area */
.question-box {
  margin: 30px auto;
  padding-top: 20px;
  width: 900px;
  background-color: #012441;
  box-shadow: 0px 10px 30px rgba(0,0,0,1);
}

.question, .options {
  width: 100%;
  padding: 15px;
}

.question {
  border-bottom-style: solid;
  border-bottom-color: #428bca;
}

.question textarea {
  width: 100%;
  font-size: 20px;
  resize: none;
}

.code {
  margin-top: 10px;
}

button span {
  font-size: 14px;
}

.code textarea {
  font-size: 14px;
  font-family: monospace;
  width: 96%;
  resize: vertical;
  vertical-align: top;
}

.option {
  background-color: #fff;
  font-size: 18px;
  margin: 10px 0;
  cursor: pointer;
}

.checkbox {
  margin: 0;
}

input[type="checkbox"] {
  display: none;
}

.option input[type="checkbox"]:checked + label {
  outline-style: solid;
  outline-color: #fff;
  background-color: green;
  color: #fff;
}

.option label {
  height: 30px;
  width: 30px;
  background-color: grey;
  padding: 2px;
  color: grey;
}

.option label span {
  font-size: 24px;
}

.option label:hover {
  cursor: pointer;
  background-color: green;
  color: #fff;
}

.option input[type="text"]{
  height: 30px;
  width: 807px;
  margin-left: 3px;
}

.option label, input[type="text"] {
  display: inline-block;
  vertical-align: top;
  border-style: none;
}

.option button {
  display:inline-block;
  height: 30px;
  width: 30px;
  padding: 3px;
  border-radius: 0px;
}

.option button span {
  font-size: 20px;
}

.hint input[type="text"] {
  vertical-align: middle;
  width: 800px;
}

.concepts {
  margin: 20px 0;
}

.question-footer {
  margin: 10px auto;
  text-align: center;
}

.question-footer h5 {
  margin-bottom: 15px;
}

form button[type="submit"] {
  border: 3px solid #fff;
}

form button[type="button"] {
  color: #fff;

}

form button[type="button"]:hover {
  color: #fff;
}

.success {
  text-align: center;
  z-index: 999;
  border: 5px solid #fff;
  background-color: #428bca;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 50%;
  padding: 10px;
  margin: -50px 0 0 -90px;
}

.success h4 {
  margin-bottom: 20px;
}
