#content-container {
  width: 100%;
  min-width: 1200px;
  overflow-x: auto;
}

#left-col {
  padding-right: 0;
}

#right-col {
  padding-left: 0;
}

#left-col .panel-heading {
  padding-left: 60px;
}

#right-col .panel-heading {
  padding-right: 60px;
  text-align: right;
}

.panel {
  margin: 36px 18px 36px;
  box-shadow: 0px 10px 30px rgba(0,0,0,1);
}

.panel-heading h2, h3 {
  margin: 0px;
}

/* Concept Panel */

ul {
  list-style: none;
}

.item {
  border-bottom: 1px solid #428bca;
  padding: 5px 0;
}

.item h5 {
  float: left;
}

.item h6 {
  float: right;
  margin-bottom: 15px;
}

.data-bar {
  clear: both;
}

.data-bar .attemptedCorrect, .data-bar .attemptedIncorrect, .data-bar .unattempted {
  display: inline-block;
  font-size: 12px;
}

.bar {
  height: 10px;
}

.attemptedCorrect .bar {
  background-color: #009400;
}

.attemptedIncorrect .bar {
  background-color: #ad2a1a;
}

.unattempted .bar {
  background-color: #bcb000;
}


/* Question Panel */
#questionInfo {
  display: table;
  max-width: 500px;
  width: 75%;
  min-width: 300px;
  margin: 0 auto; 
  align-content: center;
}

#questionCal {
  display: table;
  margin: 10px auto;
  color: #000;
}

#questionCal .well { 
  border-radius: 20px;
}

.text-info {
  color: #000;
  font-weight: bold;
}

.uib-daypicker:focus{
  outline: none;
}

.attemptedCorrect button{
  background-color: #009400;
  color: #fff;
}

.attemptedIncorrect button {
  background-color: #ad2a1a;
  color: #fff;
}

.unattempted button {
  background-color: #bcb000;
  color: #fff;
}
