.navbar{
//begin navbar fixed
	top:0;
	z-index:100;
	position:fixed;
	width:100%;
}

.content{
	position:relative;
	top:60px;
	//end navbar fixed
	margin:auto;
	width:70%;
	padding:20px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	margin-bottom:20px;
}

#question{
	width:100%;
}

h4{
	margin-top:20px;
	margin-bottom:20px;
}

#options{
	display:inline-block;
	width:100%;
	margin-bottom:8px;
}

.option/*:nth-child(odd)*/{
	float:left;
	width:100%;
	margin-bottom:8px;
}

.optionhdr{
	display:inline-block;
	margin-left:8px;
	margin-right:8px;
}

h5.svellang{
	margin-top:8px;
}

#tree1{
	margin-bottom:8px;
}

textarea{
	resize:vertical;
}

.buttons{
	display:inline-block;
	margin-left:38%;
}

.buttons *{
	margin:8px;
}

.segmented-control{
 width: 250px; 
}

hr{
	margin-top:8px;
	margin-bottom:8px;
}