.navbar{
	top:0;
	z-index:100;
	position:fixed;
	width:100%;
}

.concept-tree,.right-pane,.bottom-pane{
	position:relative;
	top:60px;
	border-radius:5px;
	margin-bottom:20px;
}

.concept-tree{
	float:left;
	margin-left:20px !important;
	width:60%;
	min-height:50%;
}

.right-pane{
	padding:16px;
	float:right;
	margin-right:20px !important;
	width:34%;
	height:50%;
	display:inline-block;
	overflow-y:scroll;
	word-wrap:break-word;
}

.right-pane::-webkit-scrollbar {
  border-radius: 5px;
}



.right-pane.bottom{
	clear:right
}

.bottom-pane{
	width:60%;
	margin:20px;
	clear:left;
}

#question{
	width:100%;
}

h4{
	margin-top:20px;
	margin-bottom:20px;
}

#options{
	display:inline-block;
	width:100%;
	margin-bottom:8px;
}

.option/*:nth-child(odd)*/{
	float:left;
	width:100%;
	margin-bottom:8px;
}

.optionhdr{
	display:inline-block;
	margin-left:8px;
	margin-right:8px;
}

h3.rightpane{
	padding-bottom:2px;
	border-width:0.5px;
    border-bottom:  ridge #eee;
}

h5.svellang{
	margin-top:8px;
}

#tree1{
	margin-bottom:8px;
}

textarea{
	resize:vertical;
}

.buttons{
	display:inline-block;
	margin-left:38%;
}

.buttons *{
	margin:8px;
}

.segmented-control{
 width: 250px; 
}

hr{
	margin-top:8px;
	margin-bottom:8px;
}