body {
  background-image:url("plasma.jpg");
  color: #3276b1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
  background-color:rgb(30,100,150);
  border-bottom:#428bca;
  color:#eee;
  margin-bottom:50px;
  box-shadow: 0px 3px 5px rgba(66,139,202,.3);
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 44px;
  letter-spacing:0.5px;
  font-weight: lighter;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #3276b1;
}
.pen-title span a {
  color: #3276b1;
  font-weight: 600;
  text-decoration: none;
}

/* Form Module */
.form-module {
  position: relative;
  background-color: rgba(250, 250, 250, 0.9);
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #3276b1;
  box-shadow: 0px 10px 39px rgba(0,0,0,0.5);
  border-radius: 5px;
  margin: 0 auto;
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #3276b1;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #3276b1;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module input:not([type=checkbox]) {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.checkbox {
  width: 100%;
  font-weight: 400;
}
.form-module input:focus {
  border: 1px solid #3276b1;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: #3276b1;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module button:hover {
  background: #178ab4;
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form-module .cta a {
  color: #333333;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
  background-color: #f5f5f5;
	font-size: 0.88em;
	padding: 5px;
}
