/* Pen Title */
.pen-title {
  width: 100%;
  padding: 60px 0px 50px;
  border-bottom:#428bca;
  margin-bottom:35px;
  box-shadow: 0px 5px 8px rgba(0,0,0,.5);
  background-color:rgb(30,100,150);
  color:#eee;
  text-align: center;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 56px;
  letter-spacing:0.5px;
  font-weight: lighter;
}

/* Forms */
.login-form, .register-form, .recovery-form {
  position: relative;
  background-color: rgba(250, 250, 250, 0.9);
  width: 320px;
  box-shadow: 0px 10px 39px rgba(0,0,0,1);
  border-radius: 5px;
}

h2 {
  font-size: 32px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: solid;
  border-width: 1px;
  margin-bottom: 30px;
}

.register-form h2 {
  font-size: 26px;
}

.recovery-form h2 {
  font-size: 24px;
}

.btn.btn-primary {
  border-radius: 20px;
  font-size: 20px;
  padding: 0px;
  margin-bottom: 10px;
}

#accountTypes {
  display: inline-block;
  width: 90px;
  vertical-align: top;
  margin-left: 10px;
}

.errormsg {
  color: red;
  text-align: center;
}

p:not(.errormsg) {
  display: block;
  margin: 10px 0;
  color: #000000;
  font-size: 12px;
  text-align: center;
}

.login-form {
  position: fixed;
  right: 0;
  left: 0;
  margin: 120px auto;

}

.register-form {
  position: fixed;
  right: 0;
  left: 0;
  height: auto;
}

.recovery-form {
  position: fixed;
  right: 0;
  left: 0;
  margin: 140px auto;
}

/* Animations */
.container.ng-hide-add {
  transition: all ease 0.7s;
}

.container.ng-hide-remove {
  transition: all ease 0.7s;
}

.login-form.ng-hide {
  opacity: 0;
  -ms-transform: translate(-1000px, 0px); /* IE 9 */
  -webkit-transform: translate(-1000px, 0px); /* Safari */
  transform: translate(-1000px, 0px);
}

.register-form.ng-hide, .recovery-form.ng-hide {
  opacity: 0;
  -ms-transform: translate(1000px, 0px); /* IE 9 */
  -webkit-transform: translate(1000px, 0px); /* Safari */
  transform: translate(1000px, 0px);
}

.slidedown {
  margin: 0;
  max-height: 100px;
  overflow-y: hidden;
}

.slidedown.ng-hide-add {
  transition: all ease 1s;
}

.slidedown.ng-hide-remove {
  transition: all ease 1s;
}

.slidedown.ng-hide {
  max-height: 0;
}
