/* Pen Title */
.pen-title {
  width: 100%;
  padding: 60px 0px 50px;
  border-bottom:#428bca;
  margin-bottom:35px;
  box-shadow: 0px 5px 8px rgba(0,0,0,.5);
  background-color:rgb(30,100,150);
  color:#eee;
  text-align: center;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 56px;
  letter-spacing:0.5px;
  font-weight: lighter;
}

/* Forms */
.login-form, .register-form, .recovery-form, .login-help{
  position: relative;
  background-color: rgba(250, 250, 250, 0.9);
  width: 320px;
  box-shadow: 0px 10px 39px rgba(0,0,0,1);
  border-radius: 5px;
}

h2 {
  font-size: 32px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: solid;
  border-width: 1px;
  margin-bottom: 30px;
}

.register-form h2 {
  font-size: 26px;
}

.recovery-form h2 {
  font-size: 24px;
}

.btn.btn-primary {
  border-radius: 20px;
  font-size: 20px;
  padding: 0px;
  margin-bottom: 10px;
}

.errormsg {
  color: red;
  text-align: center;
}

p:not(.errormsg) {
  display: block;
  margin: 10px 0;
  color: #000000;
  font-size: 12px;
  text-align: center;
}

.login-form {
  position: fixed;
  right: 0;
  left: 0;
  margin: 20px auto;

}

.register-form {
  position: fixed;
  right: 0;
  left: 0;
  height: auto;
}

.recovery-form {
  position: fixed;
  right: 0;
  left: 0;
  margin: 40px auto;
}

.login-help {
  position: fixed;
  top: 220px;
  right: 0;
  left: 0;
  bottom: 60px;
  width: 90%;
}

span {
  padding: 8px;
}

h2 {
  clear: both;
}

.right {
  float: right;
}

.help-button {
  font-size: 16px;
  padding: 2px;
}

.help-content {
  height: 90%;
  overflow-y: auto;
}

.help-content p {
  font-size: 16px;
  text-align: start;
}

/* Animations */
.container.ng-hide-add {
  transition: all ease 0.7s;
}

.container.ng-hide-remove {
  transition: all ease 0.7s;
}

.login-form.ng-hide {
  opacity: 0;
  -ms-transform: translate(-1000px, 0px); /* IE 9 */
  -webkit-transform: translate(-1000px, 0px); /* Safari */
  transform: translate(-1000px, 0px);
}

.register-form.ng-hide, .recovery-form.ng-hide {
  opacity: 0;
  -ms-transform: translate(1000px, 0px); /* IE 9 */
  -webkit-transform: translate(1000px, 0px); /* Safari */
  transform: translate(1000px, 0px);
}

.login-help.ng-hide {
  opacity: 0;
  -ms-transform: translate(0px, 1000px); /* IE 9 */
  -webkit-transform: translate(0px, 1000px); /* Safari */
  transform: translate(0px, 1000px);
}
