#content-container {
  width: 100%;
  min-width: 1200px;
  overflow-x: auto;
  overflow-y: hidden;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
}

/* Sidebar */
#sidebar {
  position: absolute;
  top: 50px;
  bottom: 25px;
  width: 320px;
}

#sidebar-content {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  box-shadow: 0px 10px 30px rgba(0,0,0,1);
}

#sidebar-header {
  background-color: #428bca;
  text-align: right;
  padding: 5px;
  height: 70px;
  position: absolute;
  top:0;
  right: 0;
  left: 0;
}

#sidebar-header h3 {
  margin-bottom: 10px;
}

#sidebar-header h6 {
  display: inline;
  font-size: 13px;
}

ul.dropdown-menu {
  font-size: 13px;
  text-align: left;
  width: 60px;
}

ul.dropdown-menu a {
  padding: 3px;
}

#question-list {
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  bottom: 35px;
  background-color: #ccc;
  overflow-y: auto;
}

.question-item {
  background-color: #eee;
  border-bottom-style: solid;
  border-color: #ccc;
  color: #1E6498;
}

.question-item input[type="radio"]:checked + label {
  background-color: #0a5a9c;
  color: #fff;
}

.question-item:hover {
  background-color: #65a5da;
  color: #fff;
}

.question-item label {
  padding: 7px;
  margin: 0;
  padding-bottom: 10px;
}

.question-item label h4 {
  white-space: nowrap;
  overflow: hidden;
}

.attemptindicator {
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  margin: 5px;
  float: right;
}

.attemptedCorrect {
  height: 12px;
  width: 12px;
  background-color: green;
}

.attemptedIncorrect {
  height: 12px;
  width: 12px;
  background-color: red;
}

.unattempted {
  height: 12px;
  width: 12px;
  background-color: yellow;
}

#sidebar-footer {
  background-color: #428bca;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 35px;
  padding: 5px;
}

#sidebar-footer .btn-xs {
  border-radius: 5px;
  padding: 2px 8px;
  float: right;
}

/* Question Area */
.question-area {
  position: absolute;
  top: 50px;
  bottom: 25px;
  left: 320px;
  right: 0;
  min-width: 870px;
  overflow-x: auto;
}

.question-box {
  margin: 20px auto;
  width: 870px;
  background-color: #428bca;
  box-shadow: 0px 10px 30px rgba(0,0,0,1);
}

.question, .options, .options-unattempted, .explanations {
  width: 100%;
  padding: 15px;
}

.question {
  border-bottom-style: solid;
  border-bottom-color: #fff;
}

.question h1 {
}

.question pre {
  margin: 15px;
  font-size: 14px;
}

.question pre:empty {
  display: none;
}

.option {
  background-color: #fff;
  color: #000;
  font-size: 18px;
  margin: 10px 0;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

.options-unattempted .option input[type="radio"]:checked + label {
  outline-style: solid;
  outline-color: #fff;
  background-color: #0a5a9c;
  color: #fff;
}

.options-unattempted .option:hover {
  background-color: #0a5a9c;
  color: #fff;
}

.option label {
  height: 35px;
  padding: 7px;
}

form button[type="submit"] {
  border: 3px solid #fff;
}

form button[type="button"] {
  color: #fff;
  float: right;
}

form button[type="button"]:hover {
  color: #fff;
}

/* Explanation */
.chosen {
  outline-style: solid;
  outline-color: red;
}

.correct {
  outline-style: none;
  background-color: green;
  color: #fff;
}

.explanations {
  border-top-style: solid;
  border-top-color: #fff;
}

.explanation-buttons {
  width: 100%;
}

.explanation-buttons button {
  display: inline;
  margin: 0 5px 20px 5px;
  padding: 0 5px;
}

.explanation-buttons .right{
  float: right;
}

.explanation {
  border: 2px solid #fff;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #0a5a9c;
}

.explanation h5 {
  float: right;
}

.explanation h6 {
  margin-bottom: 10px;
}

.explanation button {
  font-size: 12px;
  margin-right: 5px;
  padding: 0 5px;
  float: right;
}

#newExplanation button {
  margin: 5px;
  padding: 0 2px;
}

#newExplanation textarea {
  color: #000;
  resize: none;
  width: 100%;
}
