#content-container {
  width: 100%;
  min-width: 1200px;
  overflow-x: auto;
  overflow-y: hidden;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
}

/* Sidebar */
#questions-sidebar {
  position: absolute;
  top: 50px;
  bottom: 25px;
  left: 0px;
  width: 320px;
}

#sidebar-content {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  box-shadow: 0px 10px 30px rgba(0,0,0,1);
}

#sidebar-header {
  background-color: #428bca;
  text-align: right;
  padding: 5px;
  height: 70px;
  position: absolute;
  top:0;
  right: 0;
  left: 0;
}

#sidebar-header h3 {
  margin-bottom: 10px;
}

#sidebar-header h6 {
  display: inline;
  font-size: 13px;
}

.sortButtons {
  display: inline-block;
  text-align: left;
}

.sortButtons .dropdown-menu {
  min-width: 0;
}

#question-list {
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  bottom: 15px;
  background-color: #ccc;
  overflow-y: auto;
}

.question-item {
  background-color: #eee;
  border-bottom-style: solid;
  border-color: #ccc;
  color: #1E6498;
}

.question-item input[type="radio"]:checked + label {
  background-color: #0a5a9c;
  color: #fff;
}

.question-item input[type="checkbox"]:checked + label {
  background-color: #0a5a9c;
  color: #fff;
}

.question-item:hover {
  background-color: #65a5da;
  color: #fff;
}

.question-item label {
  padding: 7px;
  margin: 0;
  padding-bottom: 10px;
}

.question-item label h4 {
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
}

.question-item label h6 {
  font-size: 10px;
}

.attemptindicator {
  border: 1px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  margin: 5px;
  float: right;
}

.attemptedCorrect {
  height: 12px;
  width: 12px;
  background-color: #009400;
}

.attemptedIncorrect {
  height: 12px;
  width: 12px;
  background-color: #ad2a1a;
}

.unattempted {
  height: 12px;
  width: 12px;
  background-color: #bcb000;
}

#sidebar-footer {
  background-color: #428bca;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 15px;
  padding: 5px;
}

/* Question Area */
.question-area {
  position: absolute;
  top: 50px;
  bottom: 25px;
  left: 320px;
  right: 320px;
  min-width: 520px;
  overflow-x: auto;
  z-index: 99;
}

.question-box {
  margin: 20px auto;
  width: 95%;
  min-width: 500px;
  background-color: #428bca;
  box-shadow: 0px 10px 30px rgba(0,0,0,1);
}

.question, .options, .options-unattempted, .explanations {
  width: 100%;
  padding: 15px;
}

.question {
  border-bottom-style: solid;
  border-bottom-color: #fff;
}

.question pre {
  margin: 15px;
  font-size: 14px;
}

.question pre:empty {
  display: none;
}

.option {
  background-color: #fff;
  color: #000;
  font-size: 18px;
  margin: 10px 0;
  cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
}

.options-unattempted .option input[type="radio"]:checked + label {
  outline-style: solid;
  outline-color: #fff;
  background-color: #0a5a9c;
  color: #fff;
}

.options-unattempted .option input[type="checkbox"]:checked + label {
  outline-style: solid;
  outline-color: #fff;
  background-color: #0a5a9c;
  color: #fff;
}
.options-unattempted .option:hover {
  background-color: #0a5a9c;
  color: #fff;
}

.option label {
  padding: 7px;
}

form button[type="submit"] {
  border: 3px solid #fff;
}

/* Tools Sidebar */
#tools-sidebar {
  position: absolute;
  top: 50px;
  bottom: 25px;
  right: 0px;
  width: 320px;
}

#tools-sidebar #sidebar-content {
  box-shadow: none;
}

#tools-header {
  height: 40px;
  background-color: #428bca;
}

#tools-footer {
  height: 15px;
  background-color: #428bca;
}

#tools-header h3 {
  float: left;
}

#notes-content, #recommendations-content {
  margin-bottom: 30px;
  box-shadow: 0px 10px 30px rgba(0,0,0,1);
}
  
#notes-list, #recommendations-list {
  width: 100%;
  background-color: #ccc;
  overflow-y: auto;
}

#add-note {
  padding: 5px;
  color: #1E6498;
  background-color: #eee;
}

#newNote p {
  font-size: 12px;
  margin-top: 30px;
}

.recommendation-item, .note-item {
  background-color: #eee;
  padding: 5px;
  border-bottom-style: solid;
  border-color: #ccc;
  color: #1E6498;
}

.note-item p {
  font-size: 12px;
}

.own-note {
  border-color: #166498;
}

#editNotes .btn-default {
  float: right;
}


/* Explanation */
.chosen {
  outline-style: solid;
  outline-color: red;
}

.correct {
  background-color: green;
  color: #fff;
}

.explanations {
  border-top-style: solid;
  border-top-color: #fff;
}

.explanations .sortButtons button {
  color: #fff;
}

.explanation {
  border: 2px solid #fff;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #0a5a9c;
}

.explanation h4 {
  display: inline;
}

.explanation h5 {
  float: right;
}

.explanation h6 {
  display: inline;
  color: #ccc;
  margin-left: 10px;
}

.explanation p {
  margin: 20px 0 10px;
}

.explanation button {
  font-size: 12px;
  margin-right: 5px;
  padding: 0 5px;
  float: right;
}

textarea{
  padding: 5px;
  color: #000;
  resize: none;
  width: 100%;
}

#newExplanation {
  margin-top: 50px;
}

#newExplanation button {
  margin: 5px;
  padding: 0 2px;
}

#newExplanation p {
  float: right;
  font-size: 10px;
}
